{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container" align="center">
<div class="row">
    <div class="col">
        <p class="form-header">What's good? Try uploading a GPX file here please:</p>
        <form enctype = "multipart/form-data" method = "post">
        <input type = "file" name = "file" />
        <input type="submit" value="Upload" class="btn btn-success" />
        </form>
    </div>
</div>

<div class="container" id="buttonAndOutput">
    <!--convert button with loading bar? -->
    <div class="row">
        <div class="col">
            <a class="btn btn-success" href="/convert_input/" download>convert gpx to route</a>
        </div>
    </div>

    <!--ouput box-->
    <div id="output">
    </div>
</div>

<div class="row">
    <div class="col">
        <a class="btn btn-success" href="/return_result/" download>DOWNLOAD</a>
    </div>
</div>
</div>
{% endblock %}
